*{
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    height: 100hv;
}

i{
    font-size: 40px;
}

.interface{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.interface img{
    max-width: 400px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.flex{
    display: flex;
}

/*CABEÇALHO*/
header{
    padding: 40px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #6d6d6d;
    transition: .2s;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #000000;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 40px;
}

header .criado-por button{
    background-color: #ff002f;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .criado-por button:hover{
    box-shadow: 0px 0px 8px #ff002f;
}

/*ATÉ O VERÃO TERMINAR*/
section.ate-o-verao-terminar button{
    background-color: #ff002f;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: .2s;
}

section.ate-o-verao-terminar button:hover{
    box-shadow: 0px 0px 8px #ff002f;
    transform: scale(1.05);
    transition: .2s;
}

section.ate-o-verao-terminar{
    padding: 40px 4%;
    text-align: justify;
}

section.ate-o-verao-terminar .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.ate-o-verao-terminar h1{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.ate-o-verao-terminar .txt-livro-1 h1 span{
    color: #ff002f;
    display: inline;
    font-size: 42px;
}

.ate-o-verao-terminar .txt-livro-1 p{
    color: #000000;
    margin: 50px 0;
    font-size: 25px;
}

.ate-o-verao-terminar .txt-livro-1 i{
    color: #ff002f;
}

.img-livro-1 img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: .2s;
    
}

.img-livro-1 img:hover{
    transform: scale(1.05);
}

/*É ASSIM QUE ACABA*/
section.assim-que-acaba button{
    background-color: #ff002f;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: .2s;
}

section.assim-que-acaba button:hover{
    box-shadow: 0px 0px 8px #ff002f;
    transform: scale(1.05);
    transition: .2s;
}

section.assim-que-acaba{
    padding: 40px 4%;
}

section.assim-que-acaba .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.assim-que-acaba h1{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.assim-que-acaba .txt-livro-2 h1 span{
    color: #ff002f;
    display: inline;
    font-size: 42px;
}

.assim-que-acaba .txt-livro-2 p{
    color: #000000;
    margin: 50px 0;
    font-size: 25px;
}

.assim-que-acaba .txt-livro-2 i{
    color: #ff002f;
}

.img-livro-2 img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-livro-2 img:hover{
    transform: scale(1.05);
}

/*VERMELHO, BRANCO E SANGUE AZUL*/
section.verm-branco-sangue-azul{
    padding: 40px 4%;
}

section.verm-branco-sangue-azul .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.verm-branco-sangue-azul h1{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.verm-branco-sangue-azul .txt-livro-3 h1 span{
    color: #ff002f;
    display: inline;
    font-size: 42px;
}

.verm-branco-sangue-azul .txt-livro-3 h1 span.azul{
    color: #0059ff;
    display: inline;
    font-size: 42px;
}

.verm-branco-sangue-azul .txt-livro-3 p{
    color: #000000;
    margin: 50px 0;
    font-size: 25px;
}

.verm-branco-sangue-azul .txt-livro-3 i{
    color: #ff002f;
}

.img-livro-3 img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-livro-3 img:hover{
    transform: scale(1.05);
}

/*EU TE AMEI EM OUTRA VIDA*/
section.eu-te-amei{
    padding: 40px 4%;
}

section.eu-te-amei .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.eu-te-amei h1{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.eu-te-amei .txt-livro-4 h1 span{
    color: #ff002f;
    display: inline;
    font-size: 42px;
}

.eu-te-amei .txt-livro-4 h1 span.azul{
    color: #0059ff;
    display: inline;
    font-size: 42px;
}

.eu-te-amei .txt-livro-4 p{
    color: #000000;
    margin: 50px 0;
    font-size: 25px;
}

.eu-te-amei .txt-livro-4 i{
    color: #ff002f;
}

.img-livro-4 img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-livro-4 img:hover{
    transform: scale(1.05);
}

/*TEORIAS*/
section.teorias{
    padding: 40px 4%;
}

section.teorias .fl-topo-siteex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.teorias h2{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 20px;
}

.teorias .txt-teorias p{
    color: #000000;
    margin: 40px 0;
    font-size: 20px;
    text-align: justify;
}

.teorias .txt-teorias h2 span{
    color: #ff002f;
    display: inline-block;
    font-size: 42px;
}

.img-teorias img{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-teorias img:hover{
    transform: scale(1.05);
}

/*BOTÕES TEORIAS*/
    ul.comprar{
        list-style-type: none;
        display: inline-flex;
        position: relative;
        gap: 60px;
    }

    ul.comprar li{
        width: 80px;
        height: 80px;
        background-color: #ff002f;
        box-shadow: 0 8px 25px #ff002f;
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: .2s;
    }
    
    ul.comprar li:hover{
        width: 180px;
        cursor: pointer;
    }
    
    ul.comprar li span{
        position: absolute;
    }
    
    ul.comprar li .icone i{
        color: #000000;
        font-size: 2.2em;
        transition: .2s;
        transition-delay: .1s;
    }
    
    ul.comprar li .texto{
        color: #000000;
        font-size: 20px;
        transform: scale(0);
        transition: .2s;
        transition-delay: .1s;
    }
    
    ul.comprar li:hover .texto{
        transform: scale(1);
        cursor: pointer;
    }
    
    ul.comprar li:hover .icone{
        transform: scale(0);
        transition: .2s;
        transition-delay: .1s;
    }
    
    ul.comprar li::before{
        content: '';
        position: absolute;
        background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
        inset: 0;
        opacity: 0;
        border-radius: 60px;
    }
    
    ul.comprar li:hover::before{
        opacity: 1;
    }

/*TEORIA 1*/
section.teoria-1{
    padding: 10px 4%;
}

section.teoria-1 .flex{
    gap: 60px;
}

.teoria-1 .teorias-box{
    color: #000000;
    padding: 40px;
    border-radius: 25px;
    border: 2px solid #000000;
    margin-top: 45px;
    transition: .2s;
}

.teoria-1 .teorias-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff77;
}

.teoria-1 .teorias-box i{
    font-size: 60px;
    color: #ff002f;
    padding: 20px;
}

.teoria-1 .teorias-box h3{
    position: center;
    display: inline-block;
    font-size: 32px;
    margin: 15px 0;
}

.teoria-1 .teorias-box p{
    font-size: 20px;
    text-align: justify;
}

/*TEORIA 2*/
section.teoria-2{
    padding: 10px 4%;
}

section.teoria-2 .flex{
    gap: 60px;
}

.teoria-2 .teorias-box{
    color: #000000;
    padding: 40px;
    border-radius: 25px;
    border: 2px solid #000000;
    margin-top: 45px;
}

.teoria-2 .teorias-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff77;
}

.teoria-2 .teorias-box i{
    font-size: 60px;
    color: #ff002f;
    padding: 20px;
}

.teoria-2 .teorias-box h3{
    font-size: 32px;
    margin: 15px 0;
}

.teoria-2 .teorias-box p{
    font-size: 20px;
    text-align: justify;
}

/*TEORIA 3*/
section.teoria-3{
    padding: 10px 4%;
}

section.teoria-3 .flex{
    gap: 60px;
}

.teoria-3 .teorias-box{
    color: #000000;
    padding: 40px;
    border-radius: 25px;
    border: 2px solid #000000;
    margin-top: 45px;
    transition: .2s;
}

.teoria-3 .teorias-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff77;
}

.teoria-3 .teorias-box i{
    font-size: 60px;
    color: #ff002f;
    padding: 20px;
}

.teoria-3 .teorias-box h3{
    font-size: 32px;
    margin: 15px 0;
}

.teoria-3 .teorias-box p{
    font-size: 20px;
    text-align: justify;
}

/*TEORIA 4*/
section.teoria-4{
    padding: 10px 4%;
}

section.teoria-4 .flex{
    gap: 60px;
}

.teoria-4 .teorias-box{
    color: #000000;
    padding: 40px;
    border-radius: 25px;
    border: 2px solid #000000;
    margin-top: 45px;
    transition: .2s;
    margin-bottom: 100px;
}

.teoria-4 .teorias-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff77;
}

.teoria-4 .teorias-box i{
    font-size: 60px;
    color: #ff002f;
    padding: 20px;
}

.teoria-4 .teorias-box h3{
    font-size: 32px;
    margin: 15px 0;
}

.teoria-4 .teorias-box p{
    font-size: 20px;
    text-align: justify;
}

/*CONSEQUÊNCIAS*/
section.consequencias{
    padding: 40px 4%;
}

section.consequencias .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.consequencias h2{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 20px;
}

.consequencias .txt-consequencias p{
    color: #000000;
    margin: 40px 0;
    font-size: 20px;
    text-align: justify;
}

.consequencias .txt-consequencias h2 span{
    color: #ff002f;
    display: inline-block;
    font-size: 42px;
}

.img-consequencias img{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-consequencias img:hover{
    transform: scale(1.05);
}

/*FOOTER*/
footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff77;
}

footer .flex{
    justify-content: space-between;
}

.linha-footer p{
    color: #000000;
    font-size: 30px;
    text-align: justify;
}

.linha-footer i{
    padding: 40px;
    color: #ff002f;
    font-size: 50px;
    text-align: justify;
}