*{
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    height: 100hv;
}

i{
    font-size: 40px;
}

.interface{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.interface img{
    max-width: 400px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.flex{
    display: flex;
}

/*CABEÇALHO*/
header{
    padding: 40px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #6d6d6d;
    transition: .2s;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #000000;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 40px;
}

header .criado-por button{
    background-color: #ff002f;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .criado-por button:hover{
    box-shadow: 0px 0px 8px #ff002f;
}

h1.romance{
    color: #000000;
    font-size: 50px;
    line-height: 40px;
    padding: 30px;
    text-align: center;
}

h1.fantasia{
    color: #000000;
    font-size: 50px;
    line-height: 40px;
    padding: 30px;
    text-align: center;
}

/*ATÉ O VERÃO TERMINAR*/
/*CARAVAL*/
section.ate-o-verao-terminar{
    padding: 40px 4%;
}

section.ate-o-verao-terminar .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.ate-o-verao-terminar h1{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.ate-o-verao-terminar .txt-livro-1 h1 span{
    color: #ff002f;
    display: inline;
    font-size: 42px;
}

.ate-o-verao-terminar .txt-livro-1 p{
    color: #000000;
    margin: 50px 0;
    font-size: 25px;
    text-align: justify;
}

.ate-o-verao-terminar .txt-livro-1 i{
    color: #ff002f;
}

.img-livro-1 img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-livro-1 img:hover{
    transform: scale(1.05);
}

/*É ASSIM QUE ACABA*/
section.assim-que-acaba{
    padding: 40px 4%;
}

section.assim-que-acaba .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.assim-que-acaba h1{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.assim-que-acaba .txt-livro-2 h1 span{
    color: #ff002f;
    display: inline;
    font-size: 42px;
}

.assim-que-acaba .txt-livro-2 p{
    color: #000000;
    margin: 50px 0;
    font-size: 25px;
    text-align: justify;
}

.assim-que-acaba .txt-livro-2 i{
    color: #ff002f;
}

.img-livro-2 img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-livro-2 img:hover{
    transform: scale(1.05);
}

/*EU TE AMEI EM OUTRA VIDA*/
section.eu-te-amei{
    padding: 40px 4%;
}

section.eu-te-amei .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.eu-te-amei h1{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.eu-te-amei .txt-livro-3 h1 span{
    color: #ff002f;
    display: inline;
    font-size: 42px;
}

.eu-te-amei .txt-livro-3 p{
    color: #000000;
    margin: 50px 0;
    font-size: 25px;
    text-align: justify;
}

.eu-te-amei .txt-livro-3 i{
    color: #ff002f;
}

.img-livro-3 img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-livro-3 img:hover{
    transform: scale(1.05);
}

/*A RAINHA VERMELHA*/
section.rainha-vermelha{
    padding: 40px 4%;
}

section.rainha-vermelha .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.rainha-vermelha h1{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.rainha-vermelha .txt-livro-4 h1 span{
    color: #ff002f;
    display: inline;
    font-size: 42px;
}

.rainha-vermelha .txt-livro-4 h1 span.azul{
    color: #0059ff;
    display: inline;
    font-size: 42px;
}

.rainha-vermelha .txt-livro-4 p{
    color: #000000;
    margin: 50px 0;
    font-size: 25px;
    text-align: justify;
}

.rainha-vermelha .txt-livro-4 i{
    color: #ff002f;
}

.img-livro-4 img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-livro-4 img:hover{
    transform: scale(1.05);
}

/*CARAVAL*/
section.caraval{
    padding: 40px 4%;
}

section.caraval .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.caraval h1{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.caraval .txt-livro-5 h1 span{
    color: #ff002f;
    display: inline;
    font-size: 42px;
}

.caraval .txt-livro-5 p{
    color: #000000;
    margin: 50px 0;
    font-size: 25px;
    text-align: justify;
}

.caraval .txt-livro-5 i{
    color: #ff002f;
}

.img-livro-5 img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-livro-5 img:hover{
    transform: scale(1.05);
}

/*O PRINCIPE CRUEL*/
section.principe-cruel{
    padding: 40px 4%;
}

section.principe-cruel .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.principe-cruel h1{
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.principe-cruel .txt-livro-6 h1 span{
    color: #ff002f;
    display: inline;
    font-size: 42px;
}

.principe-cruel .txt-livro-6 p{
    color: #000000;
    margin: 50px 0;
    font-size: 25px;
    text-align: justify;
}

.principe-cruel .txt-livro-6 i{
    color: #ff002f;
}

.img-livro-6 img{
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    transition: .2s;
}

.img-livro-6 img:hover{
    transform: scale(1.05);
}

/*FOOTER*/
footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff77;
}

footer .flex{
    justify-content: space-between;
}

.linha-footer p{
    color: #000000;
    font-size: 30px;
    text-align: justify;
}

.linha-footer i{
    padding: 40px;
    color: #ff002f;
    font-size: 50px;
    text-align: justify;
}

@media screen and (max-width: 1020px){

    /*CLASSES GERAIS*/
    .flex{
        flex-direction: column;
    }

    /*CABEÇALHO*/
    .menu, .criado-por{
        display: none;
    }
}